:root{
    --color3: #b04c4c;
    --color2: #6ab04c;
    --color1: #2474b6;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: calibri;
}


#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px;
}

h1{
    font-size: 50px;
    color: black;
}

input{
    outline: none;
    border: 0;
    border-bottom: 2px transparent solid;
    background-color: rgb(232, 232, 232);
    font-size: 20px;
    color: black;
    border-radius: 2px;
    padding: 5px 10px;
}

input:focus{
    border-bottom: 2px var(--color1) solid;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px var(--color1) solid;
    border-radius: 10px;
    padding: 30px 75px;
}

#paste-input{
    width: 500px;
}

button{
    background-color: var(--color2);  
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;  
    color: white;
}

#create-list{
    font-size: 23px;
}

#lists{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h3{
    font-size: 20px;
    font-weight: lighter;
}

.list{
    width: 480px;
    background-color: rgb(232, 232, 232);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

#no-lists{
    width: 520px;
    text-align: center;
}

.delete-button{
    background-color: var(--color3);
}

.buttons{
    display: flex;
    gap: 10px;
    align-items: center;
}

#mode-selection{
    display: none;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#normal, #reverse{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

#normal{
    background-color: var(--color1);
    color: white;
}

#question-container{
    display: none;
    height: 100vh;
    flex-direction: column;
}

#list-title{
    height: 75px;
    padding-left: 50px;
    background-color: var(--color1);
    color: white;
    display: flex;
    align-items: center;
}

#word-answer-container{
    height: calc(100vh - 85px);
}

#word, #answer{
    height: 50%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#word{
    background-color: var(--color1);
    color: white;
    font-size: 75px;
}

#bar{
    height: 10px;
    background-color: var(--color1);
    width: 0px;
}

#answer-input{
    font-size: 50px;
}

#correct, #incorrect{
    height: 100vh;
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: none;
}

#correct{
    background-color: var(--color2);
}

#incorrect{
    background-color: var(--color3);
}

#result{
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 50px;
}

#correct-answers{
    color: var(--color2);
}

#incorrect-answers{
    color: var(--color3);
}

#count{
    font-size: 25px;
}

#conclusion{
    font-size: 30px;
}

#buttons{
    display: flex;
    gap: 10px;
}

#home-btn, #errors-btn{
    background-color: var(--color1);
}