:root{
    --color6: #f7f49e;
    --color5: #333333;
    --color4: #e8e8e8;
    --color3: #b04c4c;
    --color2: #6ab04c;
    --color1: #2474b6;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: calibri;
}


#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px;
    background-color: var(--color5);
    min-height: 100vh;
}

h1{
    font-size: 50px;
    color: white;
}

.big-letters{
    font-size: 100px;
    color: var(--color6);
}

input{
    outline: none;
    border: 0;
    border-bottom: 2px transparent solid;
    background-color: var(--color4);
    font-size: 20px;
    color: black;
    border-radius: 2px;
    padding: 5px 10px;
}

input:focus{
    border-bottom: 2px var(--color2) solid;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 30px 75px;
    background-color: white;
}

#paste-input{
    width: 500px;
}

button{
    background-color: var(--color2);  
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;  
    color: white;
}

#create-list{
    font-size: 23px;
}

#lists{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

h3{
    font-size: 20px;
    font-weight: lighter;
}

.list{
    width: 480px;
    background-color: rgb(232, 232, 232);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

#no-lists{
    width: 520px;
    text-align: center;
}

.delete-button{
    background-color: var(--color3);
}

.buttons{
    display: flex;
    gap: 10px;
    align-items: center;
}

#mode-selection{
    display: none;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#normal, #reverse{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}

#normal{
    background-color: var(--color6);
    color: black;
}

#reverse{
    background-color: var(--color5);
    color: rgb(255, 255, 255);
}

#question-container{
    display: none;
    height: 100vh;
    flex-direction: column;
}

#list-title{
    height: 75px;
    padding-left: 50px;
    background-color: var(--color2);
    color: white;
    display: flex;
    align-items: center;
}

#word-answer-container{
    height: calc(100vh - 85px);
}

#word, #answer{
    height: 50%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#word{
    background-color: var(--color6);
    color: rgb(0, 0, 0);
    font-size: 75px;
}

#answer{
    background-color: var(--color5);
}

#bar{
    height: 10px;
    background-color: var(--color2);
    width: 0px;
}

#answer-input{
    font-size: 50px;
}

#correct, #incorrect{
    height: 100vh;
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: none;
    text-align: center;
}

#correct{
    background-color: var(--color2);
}

#incorrect{
    background-color: var(--color3);
}

#result{
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 50px;
    background-color: var(--color5);
    min-height: calc(100vh - 80px);
}

#correct-answers{
    color: var(--color2);
}

#incorrect-answers{
    color: var(--color3);
}

#buttons{
    display: flex;
    gap: 20px;
}

#home-btn, #errors-btn{
    background-color: var(--color2);
    font-size: 23px;
}

#correct-answers, #incorrect-answers{
    font-size: 100px;
}

#result-title{
    font-size: 75px;
}

#correct-incorrect-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#count{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#accuracy{
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.incorrect-correct-data{
    width: 190px;
    height: 190px;
}

#accuracy-container{
    width: 400px;
    height: 400px;
}

.black{
    color: black;
}

.green{
    color: var(--color2);
}

.edit-button{
    background-color: var(--color1);
}

#home-btn{
    background-color: var(--color1);
}

#history-graph{
    width: 610px;
    height: 400px;
}

#canvas-container{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-title{
    font-weight: bold;
}

#graph{
    display: block;
    border-bottom-width: 5px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-left-width: 5px;
    border-left-color: black;
    border-left-style: solid;
}